Hi {{buyer.name}},

Here comes the your next Coffee Buddies pairing: 

This round of coffee roulette you've been paired with {{organiser.name}}. 

They will contact you to arrange a meeting. If you don´t receive a message, you can reach out via Email: {{organiser.email}}

Have fun!
The Coffee Roulette Team
