Hi {{organiser.name}},

Here comes the your next Coffee Buddies pairing: 

This round of coffee roulette you've been paired with {{buyer.name}}. 

It is your job to set up a meeting with {{buyer.name}} (Email:{{buyer.email}} ), please get in contact in the next two days. 

Have fun!
The Coffee Roulette Team
